:root {
  /* cores */
  --white-color: #FFFFFF;
  --black-color: #333333;
  --primary-color: #1B1923;
  --secondary-color: #54525A;
  --accent-color: #0075FF;

  /* estilos das fontes */
  --titles-font-size: 5rem;
  --titles-font-line-heigth: 5.5rem;
  --titles-font-align: left;
  --titles-font-weight: bold;
  --titles-margin-bottom: 2.5rem;
  --paragraph-font-size: 1.25rem;
  --paragraph-font-line-heigth: 2.25rem;
  --paragraph-font-align: left;
  --paragraph-font-weight: normal;
  --paragraph-margin-bottom: 1.25rem;
  --aside-font-size: 1.25rem;
  --aside-font-family: 'Mulish', sans-serif;
  --aside-font-weight: bold;
  --buttons-font-align: center;
  --buttons-font-weight: bolder;
  --buttons-text-transform: inherit;

  /* estilos das bordas */
  --border-radius: 0.5rem;

  /* valores para margens e preenchimentos */
  --section-spacing: 5rem;
  --space-between-sections-contents: 1.75rem;
  --button-padding: 1rem;
  --padding-left-right: 1rem;

  /* valores para transições */
  --short-transitions: 0.3s;
  --half-second-transitions: 0.5s;

}

/* ----------------- redefinição simples de estilo ----------------- */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  font-size: 100%;
  font-family: 'Noto Sans', sans-serif;
  vertical-align: baseline;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  background-color: var(--primary-color);
  color: var(--white-color);
  scroll-behavior: smooth;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

.content-site {
  width: 100%;
  max-width: 67.5rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--padding-left-right);
  padding-left: var(--padding-left-right);
  overflow: hidden;
}

.row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

[class*="col-"] {
  padding: 1rem;
  position: relative;
  width: 100%;
  min-height: 1px;
  text-align: left;
  display: block;
}

@media screen and (min-width: 1px){
  .col-xl-1 { -webkit-box-flex: 0; -ms-flex: 0 0 8.333%; flex: 0 0 8.333%; max-width: 8.333%; display: block; }
  .col-xl-2 { -webkit-box-flex: 0; -ms-flex: 0 0 16.666%; flex: 0 0 16.666%; max-width: 16.666%; display: block; }
  .col-xl-3 { -webkit-box-flex: 0; -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%; display: block; }
  .col-xl-4 { -webkit-box-flex: 0; -ms-flex: 0 0 33.333%; flex: 0 0 33.333%; max-width: 33.333%; display: block; }
  .col-xl-5 { -webkit-box-flex: 0; -ms-flex: 0 0 41.666%; flex: 0 0 41.666%; max-width: 41.666%; display: block; }
  .col-xl-6 { -webkit-box-flex: 0; -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; display: block; }
  .col-xl-7 { -webkit-box-flex: 0; -ms-flex: 0 0 58.333%; flex: 0 0 58.333%; max-width: 58.333%; display: block; }
  .col-xl-8 { -webkit-box-flex: 0; -ms-flex: 0 0 66.666%; flex: 0 0 66.666%; max-width: 66.666%; display: block; }
  .col-xl-9 { -webkit-box-flex: 0; -ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%; display: block; }
  .col-xl-10 { -webkit-box-flex: 0; -ms-flex: 0 0 83.333%; flex: 0 0 83.333%; max-width: 83.333%; display: block; }
  .col-xl-11 { -webkit-box-flex: 0; -ms-flex: 0 0 91.666%; flex: 0 0 91.666%; max-width: 91.666%; display: block; }
  .col-xl-12 { -webkit-box-flex: 0; -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; display: block; }
}

@media screen and (max-width: 960px) {
  .col-lg-1 { -webkit-box-flex: 0; -ms-flex: 0 0 8.333%; flex: 0 0 8.333%; max-width: 8.333%; display: block; }
  .col-lg-2 { -webkit-box-flex: 0; -ms-flex: 0 0 16.666%; flex: 0 0 16.666%; max-width: 16.666%; display: block; }
  .col-lg-3 { -webkit-box-flex: 0; -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%; display: block; }
  .col-lg-4 { -webkit-box-flex: 0; -ms-flex: 0 0 33.333%; flex: 0 0 33.333%; max-width: 33.333%; display: block; }
  .col-lg-5 { -webkit-box-flex: 0; -ms-flex: 0 0 41.666%; flex: 0 0 41.666%; max-width: 41.666%; display: block; }
  .col-lg-6 { -webkit-box-flex: 0; -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; display: block; }
  .col-lg-7 { -webkit-box-flex: 0; -ms-flex: 0 0 58.333%; flex: 0 0 58.333%; max-width: 58.333%; display: block; }
  .col-lg-8 { -webkit-box-flex: 0; -ms-flex: 0 0 66.666%; flex: 0 0 66.666%; max-width: 66.666%; display: block; }
  .col-lg-9 { -webkit-box-flex: 0; -ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%; display: block; }
  .col-lg-10 { -webkit-box-flex: 0; -ms-flex: 0 0 83.333%; flex: 0 0 83.333%; max-width: 83.333%; display: block; }
  .col-lg-11 { -webkit-box-flex: 0; -ms-flex: 0 0 91.666%; flex: 0 0 91.666%; max-width: 91.666%; display: block; }
  .col-lg-12 { -webkit-box-flex: 0; -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; display: block; }
}

@media screen and (max-width: 720px) {
  .col-md-1 { -webkit-box-flex: 0; -ms-flex: 0 0 8.333%; flex: 0 0 8.333%; max-width: 8.333%; display: block; }
  .col-md-2 { -webkit-box-flex: 0; -ms-flex: 0 0 16.666%; flex: 0 0 16.666%; max-width: 16.666%; display: block; }
  .col-md-3 { -webkit-box-flex: 0; -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%; display: block; }
  .col-md-4 { -webkit-box-flex: 0; -ms-flex: 0 0 33.333%; flex: 0 0 33.333%; max-width: 33.333%; display: block; }
  .col-md-5 { -webkit-box-flex: 0; -ms-flex: 0 0 41.666%; flex: 0 0 41.666%; max-width: 41.666%; display: block; }
  .col-md-6 { -webkit-box-flex: 0; -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; display: block; }
  .col-md-7 { -webkit-box-flex: 0; -ms-flex: 0 0 58.333%; flex: 0 0 58.333%; max-width: 58.333%; display: block; }
  .col-md-8 { -webkit-box-flex: 0; -ms-flex: 0 0 66.666%; flex: 0 0 66.666%; max-width: 66.666%; display: block; }
  .col-md-9 { -webkit-box-flex: 0; -ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%; display: block; }
  .col-md-10 { -webkit-box-flex: 0; -ms-flex: 0 0 83.333%; flex: 0 0 83.333%; max-width: 83.333%; display: block; }
  .col-md-11 { -webkit-box-flex: 0; -ms-flex: 0 0 91.666%; flex: 0 0 91.666%; max-width: 91.666%; display: block; }
  .col-md-12 { -webkit-box-flex: 0; -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; display: block; }
}

@media screen and (max-width: 480px) {
  .col-sm-1 { -webkit-box-flex: 0; -ms-flex: 0 0 8.333%; flex: 0 0 8.333%; max-width: 8.333%; display: block; }
  .col-sm-2 { -webkit-box-flex: 0; -ms-flex: 0 0 16.666%; flex: 0 0 16.666%; max-width: 16.666%; display: block; }
  .col-sm-3 { -webkit-box-flex: 0; -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%; display: block; }
  .col-sm-4 { -webkit-box-flex: 0; -ms-flex: 0 0 33.333%; flex: 0 0 33.333%; max-width: 33.333%; display: block; }
  .col-sm-5 { -webkit-box-flex: 0; -ms-flex: 0 0 41.666%; flex: 0 0 41.666%; max-width: 41.666%; display: block; }
  .col-sm-6 { -webkit-box-flex: 0; -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; display: block; }
  .col-sm-7 { -webkit-box-flex: 0; -ms-flex: 0 0 58.333%; flex: 0 0 58.333%; max-width: 58.333%; display: block; }
  .col-sm-8 { -webkit-box-flex: 0; -ms-flex: 0 0 66.666%; flex: 0 0 66.666%; max-width: 66.666%; display: block; }
  .col-sm-9 { -webkit-box-flex: 0; -ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%; display: block; }
  .col-sm-10 { -webkit-box-flex: 0; -ms-flex: 0 0 83.333%; flex: 0 0 83.333%; max-width: 83.333%; display: block; }
  .col-sm-11 { -webkit-box-flex: 0; -ms-flex: 0 0 91.666%; flex: 0 0 91.666%; max-width: 91.666%; display: block; }
  .col-sm-12 { -webkit-box-flex: 0; -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; display: block; }
}

/* ----------------- estilos dos componentes comuns ----------------- */
.color-white {
  color: var(--white-color);
}

.color-black {
  color: var(--black-color);
}

.color-primary {
  color: var(--primary-color);
}

.color-secondary {
  color: var(--secondary-color);
}

.color-accent {
  color: var(--accent-color);
}

.bg-white-color {
  background-color: var(--white-color);
}

.bg-black-color {
  background-color: var(--black-color);
}

.bg-primary-color {
  background-color: var(--primary-color);
}

.bg-secondary-color {
  background-color: var(--secondary-color);
}

.bg-accent-color {
  background-color: var(--accent-color);
}

.border-radius {
  border-radius: var(--border-radius);
}

.box-shadow {
  box-shadow: 0.5rem 0.5rem 0.75rem 0rem rgba(0, 0, 0, 0.25);
}

.space-contents {
  margin-top: var(--space-between-sections-contents);
  margin-bottom: var(--space-between-sections-contents);
}

.scrolled-items-x {
  width: 100%;
  height: 13.5rem;
  white-space: nowrap;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.scrolled-items-x .item {
  width: 50%;
  float: none;
  height: 100%;
  margin: 0;
  display: inline-block;
}

.spaced {
  padding-top: var(--section-spacing);
  padding-bottom: var(--section-spacing);
  padding-left: var(--padding-left-right);
  padding-right: var(--padding-left-right);
}

.section-title {
  font-family: 'Mulish', sans-serif;
  font-size: var(--titles-font-size);
  font-weight: var(--titles-font-weight);
  text-align: var(--titles-font-align);
  line-height: var(--titles-font-line-heigth);
  margin-bottom: var(--titles-margin-bottom);
}

.paragraph {
  font-size: var(--paragraph-font-size);
  font-weight: var(--paragraph-font-weight);
  text-align: var(--paragraph-font-align);
  line-height: var(--paragraph-font-line-heigth);
  margin-bottom: var(--paragraph-margin-bottom);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--button-padding);
  border-radius: var(--border-radius);
  text-align: var(--buttons-font-align);
  font-weight: var(--buttons-font-weight);
  font-size: var(--paragraph-font-size);
  text-transform: var(--buttons-text-transform);
  line-height: 1.75rem;
  cursor: pointer;
}

.button img {
  max-height: 1.5rem;
  margin-right: 0.5rem;
}

/* ----------------- estilo do header ----------------- */
header.main-header {
  position: fixed;
  width: 100%;
  z-index: 1001;
  top: 0;
  transition: top var(--short-transitions);
}

header.main-header.active {
  top: -10rem;
}

header.main-header .content-site {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: visible;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

header.main-header .content-site h1 img {
  max-height: 3.5rem;
}

header.main-header .content-site .bottom-action {
  cursor: pointer;
}

header.main-header .content-site .bottom-action img {
  max-height: 1.5rem;
}

header.main-header .content-site .bottom-action img:last-child {
  margin-left: 0.75rem;
}

/* ----------------------- estilos do modal ----------------------- */
.modal-content {
  display: none;
}

#modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.90);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10001;
  overflow-y: scroll;
  visibility: hidden;
  opacity: 0;
  -webkit-transition:
    opacity var(--half-second-transitions),
    visibility var(--half-second-transitions);
  -o-transition:
    opacity var(--half-second-transitions),
    visibility var(--half-second-transitions);
  transition:
    opacity var(--half-second-transitions),
    visibility var(--half-second-transitions);
}

#modal.show {
  visibility: visible;
  opacity: 1;
}

#modal .content-site {
  position: absolute;
  bottom: -75vh;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 1.5rem 1.5rem 0 0;
  transition: var(--half-second-transitions);
}

#modal.show .content-site {
  bottom: -0.5rem;
}

#content-modal {
  display: block;
  max-height: 90%;
  padding: 10px 30px;
}

#content-modal p {
  margin-top: 3.5rem;
  font-weight: bold;
}

#content-modal .scroll-with-ur-finger {
  display: none;
}

#content-modal .scrolled-items-x {
  margin: 3.5rem 0 1.5rem;
  height: 6.5rem;
}

#content-modal .scrolled-items-x::-webkit-scrollbar {
  height: 0.5rem;
}

#content-modal .scrolled-items-x::-webkit-scrollbar-track {
  background: var(--primary-color);
}

#content-modal .scrolled-items-x::-webkit-scrollbar-thumb {
  border-radius: var(--border-radius);
  background: var(--white-color);
}

#content-modal .scrolled-items-x::-webkit-scrollbar-thumb:hover {
  background: var(--white-color);
}

#content-modal .scrolled-items-x .item {
  width: 5rem;
  margin-right: 5rem;
}

#content-modal .scrolled-items-x .item:last-child {
  margin-right: 0;
}

#content-modal .scrolled-items-x .item .card {
  height: 5rem;
  width: 100%;
  display: flex;
}

#content-modal .scrolled-items-x .item .card img {
  height: 100%;
  transition: var(--short-transitions);
}

#modal-close {
  position: absolute;
  top: 0.25rem;
  right: 1rem;
}

/* ----------------- estilo do alerta de cookies ----------------- */
#cookies-notification {
  display: none;
  z-index: 10001;
  position: fixed;
  width: 95%;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--white-color);
  border: var(--border-bottom-grey);
  border-radius: var(--border-radius);
}

#cookies-notification .title-notification {
  color: var(--black-color);
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

#cookies-notification .title-notification,
#cookies-notification .content-notification {
  margin-top: 0.75rem;
}

#cookies-notification .content-notification p {
  color: var(--black-color);
  font-size: 0.9em;
}

#cookies-notification .content-notification button {
  color: var(--white-color);
  font-weight: bold;
  font-size: 0.8em;
  text-transform: uppercase;
  padding: 0.25rem 0.5rem;
  margin: 0.5rem 0 0.75rem;
  background-image: var(--dark-blue-to-light-blue-gradient);
  border-radius: 0.35rem;
  cursor: pointer;
  opacity: 1;
  transition: opacity var(--short-transitions);
}

#cookies-notification .content-notification button:hover {
  opacity: 0.75;
}

#cookies-notification .content-notification button:active {
  opacity: 1;
}

/* ----------------- estilo do footer ----------------- */
footer {
  margin-top: 15rem;
  padding: 0 0 10rem;
}

footer nav.bottom-navigation {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.5rem 0;
  border-top: var(--border-bottom-grey);
  background-color: var(--primary-color);
  box-shadow: 0.5rem 0.5rem 1rem 0.5rem rgba(0, 0, 0, 0.5);
}

footer nav.bottom-navigation .content-site {
  display: flex;
  justify-content: space-between;
  overflow: visible;
}

footer nav.bottom-navigation .content-site a {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

footer nav.bottom-navigation .content-site a.active::after {
  content: '';
  width: 100%;
  height: 10px;
  border-radius: var(--border-radius);
  background-color: var(--secondary-color);
  position: absolute;
  bottom: -13px;
}

footer nav.bottom-navigation .content-site a img {
  height: 1.5rem;
  width: 1.5rem;
  margin-bottom: 0.25rem;
}

footer nav.bottom-navigation .content-site a span {
  font-size: 0.75rem;
  color: var(--logo-blue-color);
}

footer .luz-logo {
  display: block;
  margin: 0 auto 1.5rem;
  max-height: 4.5rem;
}

footer .copyright {
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-weight: bold;
}

footer .copyright .luanluzdev {
  max-height: 1.5rem;
  margin-right: 0.5rem;
}

footer address {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
}

footer address img {
  max-height: 1.25rem;
  margin-right: 0.25rem;
}

footer .made-with-love {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .made-with-love img {
  margin: 0 0.5rem;
}

/* ----------------- animações ----------------- */
/* animações das seções */
.sections-transitions {
  -webkit-animation: sections-transitions var(--half-second-transitions) ease;
  animation: sections-transitions var(--half-second-transitions) ease;
}

@-webkit-keyframes sections-transitions {
  0% { transform: translateX(50vh); }

  100% { transform: translateX(0); }
}

@keyframes sections-transitions {
  0% { transform: translateX(50vh); }

  100% { transform: translateX(0); }
}

/* ----------------- media query ----------------- */
@media screen and (max-width: 960px) {}

@media screen and (max-width: 720px) {
  :root {
    /* estilo das fontes */
    --titles-font-size: 2.5rem;
    --titles-font-line-heigth: 3.5rem;
    --paragraph-font-size: 1.25rem;
    --paragraph-font-line-heigth: 2.25rem;
  }

  /* modal */
  #content-modal .scroll-with-ur-finger {
    display: block;
  }

  /* rodapé */
  footer nav.bottom-navigation {
    display: block;
  }

  /* animações */
  @-webkit-keyframes sections-transitions {
    0% { transform: translateY(25vh); }

    100% { transform: translateY(0); }
  }

  @keyframes sections-transitions {
    0% { transform: translateY(25vh); }

    100% { transform: translateY(0); }
  }
}

@media screen and (max-width: 480px) {}
